[submodule "VueBridgeMaster/public/cards/vector-cards"]
	path = VueBridgeMaster/public/cards/vector-cards
	url = https://github.com/notpeter/Vector-Playing-Cards.git
[submodule "VueBridgeMaster/public/dds"]
	path = VueBridgeMaster/public/dds
	url = https://github.com/dds-bridge/dds.git
