[submodule "public/cards/vector-cards"]
	path = public/cards/vector-cards
	url = https://github.com/notpeter/Vector-Playing-Cards.git
[submodule "public/dds"]
	path = public/dds
	url = https://github.com/dds-bridge/dds.git
